
* {
	font-family:
	 'Tenor Sans', sans-serif;
 }
html, body {
	height: 100%;
	margin: 1%
}

.navbar {
	width:;
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
z-index: 5;
}

.james {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	width: auto;
	height: 350px;
	border-radius: 50%;
}

.titleWrapper {
	margin-top: 20px;
}

h6 {
	font-style: italic;
}

h6, h5 {
	text-align: center;
}

.tagLine, .james, .smallerTagLine {
	-vendor-animation-duration: 50s;
  -vendor-animation-delay: 50s;
}

.customNavbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px 20%;
}

.customNavbar h6 {
	color: black;
}

.profileImageWrapper {
	display: flex;
	flex-direction: row;
	padding: 5vh 0 0 20vh;
}

.tagLine {
	padding: 50px 0 0 19vh;
}

#initials {
	font-family: 'Eagle Lake', cursive !important;
	padding: 0 80px 0 80px;
}

.smallerTagLine {
	padding: 0 0 0 19vh;
}


.top {
	background-image: url("./mouse.jpg");
	background-size: 100vw auto;
	background-repeat: no-repeat;
	height: 95%;
}
.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.navbar a:hover {
background: #ddd;
color: black;
}
.flex-container {
display: grid;
grid-template-columns: auto auto auto auto;
padding bottom:auto;
-ms-box-orient: horizontal;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
}
#bio{
/* border: 1px solid slategray; */
color: slategray;
width:auto;
margin: 0 5px 0 5px;
}
.bioTitleWrapper{

}
.grid-container{
display: grid;
grid-template-columns: auto auto auto auto;
padding bottom:auto;
}

.grid-item {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
margin-left: 10px;
font-size: 30px;
text-align: center;
}
.main {
padding: 16px;
margin-top: 30px;
height: 1500px; /* Used in this example to enable scrolling */
}
.flip-container {

	perspective: 1000px;
}/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front, .back {
	width: 320px;
	height: 575px;
}	/* flip speed goes here */
.flipper {
	transition: 1.5s;
	transform-style: preserve-3d;
	position: relative;
}/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	background: lightgrey;
	transform: rotateY(0deg);
	border: 2px solid black;
}/* back, initially hidden pane */
.back {
	background: lightgrey;
	transform: rotateY(180deg);
	border: 2px solid black;
}
.projects{
width:auto;
	background-color: rgb(69,69,69);
background-image: -webkit-linear-gradient(30deg, lightgrey 50%, slategray 50%);
padding-bottom: 10%
}

body{
/* margin-left: 10px; */
background:white;
}

#projects{
margin-left:auto;
}
#contact{
background: white;
padding-top: 15px;
text-align: center;
}
#top{
overflow:auto;
}
@media screen and (max-width: 1300px) {
	.flip-container{
		margin: 10% 10%;
	}
	.projects{
	width:100vw;
		background-color: rgb(69,69,69);
	background-image: -webkit-linear-gradient(30deg, lightgrey 50%, white 50%);
	padding-bottom: 10%
	}
	.wrap{
	  -webkit-flex-wrap: wrap;
	  flex-wrap: wrap;
	}
}
@media screen and (max-width: 700px) {
	body{
		background-color: rgb(69,69,69);
	}
.projects{
	width:100vw
	background-color: rgb(69,69,69);
	background-image: -webkit-linear-gradient(30deg, rgb(69,69,69) 50%, rgb(69,69,69) 50%);
	padding-bottom: 10%
}

}
@media screen and (max-width: 500px) {
#top{
	width;
}

}
